function FindProxyForURL(url, host) {
	
	// No proxy for hosts with local domain
	// you ca replace this with your local domain
 	if (shExpMatch(host, ".local")) return "DIRECT";

	// No proxy for internal networks.
	if (isPlainHostName(host) ||
	isInNet(dnsResolve(host), "192.168.0.0",  "255.255.0.0") ||
	isInNet(dnsResolve(host), "172.16.0.0",  "255.240.0.0") ||
	isInNet(dnsResolve(host), "10.0.0.0",  "255.0.0.0") ||
	isInNet(dnsResolve(host), "127.0.0.0", "255.255.255.0"))
	return "DIRECT";

	// send to proxy
	return "PROXY 192.168.1.1:3128";
}
